version: "3.7"

services:
  localstack:
    image: localstack/localstack@sha256:3994fead4ad8c669396ff563a4cb52b7be475efb9fe9ec6bd900034adf473e8f # 3.3.0
    volumes:
      - "/private${TMPDIR}/localstack:/var/lib/localstack"
      # - "./localstack:/docker-entrypoint-initaws.d"
      # - "./localstack:/etc/localstack/init/ready.d" # for intel chip Mac
    healthcheck:
      test: awslocal dynamodb list-tables
      interval: 60s
      timeout: 10s
    environment:
      - SERVICES=dynamodb
      - EAGER_SERVICE_LOADING=1  
    ports:
      - "4566:4566"
      #- "4510-4559:4510-4559"
