version: "3.7"

services:
  localstack:
    image: localstack/localstack@sha256:0385d1c75348d88d873d2dc716e4ff7d0ae164b599ea2c746fa15ad801b516dc # 3.3.0
    volumes:
      - "/private${TMPDIR}/localstack:/var/lib/localstack"
      # - "./localstack:/docker-entrypoint-initaws.d"
      # - "./localstack:/etc/localstack/init/ready.d" # for intel chip Mac
    healthcheck:
      test: awslocal dynamodb list-tables
      interval: 60s
      timeout: 10s
    environment:
      - SERVICES=dynamodb
      - EAGER_SERVICE_LOADING=1  
    ports:
      - "4566:4566"
      #- "4510-4559:4510-4559"
