name: Release-please

permissions:
  pull-requests: write
  contents: write

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-24.04
    steps:
      - id: release-please
        uses: google-github-actions/release-please-action@a37ac6e4f6449ce8b3f7607e4d97d0146028dc0b # v4.1.0
        with:
          token: ${{ secrets.RELEASE_PLEASE_PAT }}
      - run: echo '${{ toJson(steps.release-please.outputs) }}' | jq
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        if: steps.release-please.outputs.prs_created == 'true'
        with:
          token: ${{ secrets.RELEASE_PLEASE_PAT }}
          ref: ${{ fromJson(steps.release-please.outputs.pr).headBranchName }}
      - name: Fix up versions
        if: steps.release-please.outputs.prs_created == 'true'
        run: |
          sed --in-place --regexp-extended \
            -e '/^\[dependencies\]$/,/^\[/s/modyne-derive = \{ version = "([[:digit:]]+\.[[:digit:]]+)(\.[[:digit:]]+)?"/modyne-derive = { version = "\1"/' \
            -e '/\.dependencies\]$/,/^$/s/modyne-derive = \{ version = "=?([[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+)"/modyne-derive = { version = "=\1"/' \
            modyne/Cargo.toml
        shell: bash
      - uses: stefanzweifel/git-auto-commit-action@b863ae1933cb653a53c021fe36dbb774e1fb9403 # v5.2.0
        if: steps.release-please.outputs.prs_created == 'true'
        with:
          file_pattern: modyne/Cargo.toml
          commit_message: "chore: fixup modyne-derive dependency references"
    outputs:
      releases:  ${{ steps.release-please.outputs.releases_created }}
      release-modyne-derive: ${{ steps.release-please.outputs['modyne-derive--release_created'] }}
      release-modyne: ${{ steps.release-please.outputs['modyne--release_created'] }}
      release-example-ch18: ${{ steps.release-please.outputs['dynamodb-book/ch18-sessionstore--release_created'] }}
      release-example-ch19: ${{ steps.release-please.outputs['dynamodb-book/ch19-sessionstore--release_created'] }}
      release-example-ch20: ${{ steps.release-please.outputs['dynamodb-book/ch20-sessionstore--release_created'] }}
      release-example-ch21: ${{ steps.release-please.outputs['dynamodb-book/ch21-sessionstore--release_created'] }}
  release:
    if: needs.release-please.outputs.releases == 'true'
    runs-on: ubuntu-24.04
    needs: release-please
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Install Stable Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Publish modyne_derive crate
        if: needs.release-please.outputs.release-modyne-derive == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p modyne_derive
        shell: bash
      - name: Publish modyne crate
        if: needs.release-please.outputs.release-modyne == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p modyne
        shell: bash
      - name: Publish DynamoDB Book Session Store example
        if: needs.release-please.outputs.release-example-ch18 == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p dynamodb-book-ch18-sessionstore
        shell: bash
      - name: Publish DynamoDB Book eComm example
        if: needs.release-please.outputs.release-example-ch19 == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p dynamodb-book-ch19-ecomm
        shell: bash
      - name: Publish DynamoDB Book Big Time Deals example
        if: needs.release-please.outputs.release-example-ch20 == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p dynamodb-book-ch20-bigtimedeals
        shell: bash
      - name: Publish DynamoDB Book GitHub example
        if: needs.release-please.outputs.release-example-ch21 == 'true'
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish -p dynamodb-book-ch21-github
        shell: bash
