name: CI

on:
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo +nightly fmt --all -- --check
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - run: cargo clippy --workspace --all-targets --features derive

  test-min:
    name: Test Minimal Versions
    runs-on: ubuntu-24.04
    services:
      localstack:
        image: localstack/localstack@sha256:f8f23f650b82d576a7d4b43256abb04195f9a37be14e4c2f8521615230af0987 # 3.3.0
        ports:
          - 4566:4566
        env:
          SERVICES: dynamodb
          EAGER_SERVICE_LOADING: 1
    env:
      RUST_LOG: info
      RUST_LOG_SPAN_EVENTS: close
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: taiki-e/install-action@e797ba6a25dbd8669057e123b02812e16138589e # v2.62.48
        with:
          tool: cargo-nextest@0.9.111
      - run: cargo nextest run --workspace --no-fail-fast --features derive --run-ignored all -Zminimal-versions
      - run: cargo test  --workspace --doc --no-fail-fast --features derive -Zminimal-versions


  test-msrv:
    name: Test MSRV
    runs-on: ubuntu-24.04
    services:
      localstack:
        image: localstack/localstack@sha256:f8f23f650b82d576a7d4b43256abb04195f9a37be14e4c2f8521615230af0987 # 3.3.0
        ports:
          - 4566:4566
        env:
          SERVICES: dynamodb
          EAGER_SERVICE_LOADING: 1
    env:
      RUST_LOG: info
      RUST_LOG_SPAN_EVENTS: close
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: dtolnay/rust-toolchain@1.88
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: taiki-e/install-action@e797ba6a25dbd8669057e123b02812e16138589e # v2.62.48
        with:
          tool: cargo-nextest@0.9.111
      - run: cargo nextest run --workspace --no-fail-fast --features derive --run-ignored all
      - run: cargo test --workspace --doc --no-fail-fast --features derive

  test:
    name: Test
    runs-on: ubuntu-24.04
    services:
      localstack:
        image: localstack/localstack@sha256:f8f23f650b82d576a7d4b43256abb04195f9a37be14e4c2f8521615230af0987 # 3.3.0
        ports:
          - 4566:4566
        env:
          SERVICES: dynamodb
          EAGER_SERVICE_LOADING: 1
    env:
      RUST_LOG: info
      RUST_LOG_SPAN_EVENTS: close
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: taiki-e/install-action@e797ba6a25dbd8669057e123b02812e16138589e # v2.62.48
        with:
          tool: cargo-nextest@0.9.111
      - run: cargo nextest run --workspace --no-fail-fast --features derive --run-ignored all
      - run: cargo test --workspace --doc --no-fail-fast --features derive

  deny:
    name: Check Constraints
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: taiki-e/install-action@e797ba6a25dbd8669057e123b02812e16138589e # v2.62.48
        with:
          tool: cargo-deny@0.18.5
      - run: cargo deny --all-features check ${{ matrix.checks }}
